@import 'variables';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

html {
    height: 100%;
}

body,
html {
    min-height: 100%;
}

body {
    font: 400 14px/1.38 'Futura LT', Arial, sans-serif;
    width: 100%;
    height: auto;
    color: $main;
    background-color: #FFF;
}

h1, h2, h3,h4 ,h5, h6, p, ul, ol,input {
    margin: 0;
    padding: 0;
}

h2 {
    @include font-size($minSize: 24, $maxSize: 45);
    color: #282828;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
input,
textarea {
    border: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
        margin: 0;
}

textarea {
    max-width: 100%;
    resize: vertical;
}

a {
    color: inherit;
    &:hover { 
        text-decoration: none;
    }; 
}
.z-index {
    position: relative;
    z-index: 1;
}

html #wpadminbar {
    height: 35px;
}