
@font-face {
    font-family: 'Futura LT';
    src: url('../fonts/futuralt-light_0.woff2') format('woff2'),
         url('../fonts/futuralt-light_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}