/* -----------------------------------------
 DEVICE LIST
----------------------------------------- */

/* Responsive font-size*/

* {
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body,
html {
  min-height: 100%;
}

body {
  font: 400 14px/1.38 'Futura LT', Arial, sans-serif;
  width: 100%;
  height: auto;
  color: #4d4f50;
  background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
input {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  color: #282828;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

input,
textarea {
  border: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.z-index {
  position: relative;
  z-index: 1;
}

html #wpadminbar {
  height: 35px;
}

/* Responsive font-size*/

@font-face {
  font-family: 'Futura LT';
  src: url("../fonts/futuralt-light_0.woff2") format("woff2"), url("../fonts/futuralt-light_0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Responsive font-size*/

input::-moz-placeholder {
  text-overflow: ellipsis;
}

textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #1e87c8;
}

.show-template {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
}

/* -----------------------------------------
 GLOBAL
----------------------------------------- */

body {
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}

body.js-nav-menu-active {
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
}

.site-main {
  padding-top: 107px;
  background-color: #FFF;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------
 HEADER
----------------------------------------- */

.head-top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  padding-top: 23px;
  padding-bottom: 18px;
  margin-left: 40px;
  margin-right: 40px;
}

.head-top__btn {
  position: absolute;
  top: 0;
  left: 0;
}

.book-appointment {
  display: block;
  max-width: 171px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.book-appointment img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.book-appointment:hover,
.book-appointment:focus {
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotate(30deg);
  transform: rotateZ(30deg);
}

.book-appointment:active {
  -webkit-transform: rotateZ(30deg) scale(0.8);
  -ms-transform: rotate(30deg) scale(0.8);
  transform: rotateZ(30deg) scale(0.8);
}

/* --------Hamburger*/

.hamburger {
  display: none;
  position: relative;
  top: 20px;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  margin: 0;
  overflow: visible;
  border: 0;
}

.menu-toggle {
  margin-left: auto;
  top: 0;
}

.menu-close {
  left: 13px;
}

.hamburger:hover .hamburger-inner,
.hamburger:hover .hamburger-inner::before,
.hamburger:hover .hamburger-inner::after {
  opacity: 1;
}

.hamburger-box {
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #878484;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
  transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.js-nav-menu-active .hamburger--spin .hamburger-inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.js-nav-menu-active .hamburger--spin .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.js-nav-menu-active .hamburger--spin .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* --------Navigation*/

.main-navigation {
  margin-left: 195px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navigation ul li {
  margin-left: 19px;
  margin-right: 19px;
}

.main-navigation ul li a {
  display: block;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #878484;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.main-navigation ul li a:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  background-color: #878484;
}

.main-navigation ul li a:hover:after,
.main-navigation ul li a.active:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* -----------------------------------------
 MAIN INFO
----------------------------------------- */

.main-info {
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 64px;
  text-align: center;
}

.main-info h2 {
  font-size: 24px;
  margin-bottom: 61px;
  letter-spacing: 0.2px;
}

.main-info p {
  line-height: 1.59;
}

.main-info__img {
  width: 100%;
  max-width: 898px;
  margin: 92px auto;
  padding: 45px;
  border: 1px solid #0a0a0a;
  background-color: #fff;
}

.main-info__img--author {
  width: 100%;
  max-width: 466px;
  margin: 90px auto 77px;
  padding: 42px;
}

.author-info {
  font-size: 16px;
  width: 100%;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.38;
  text-align: center;
}

.author-info__email {
  display: block;
}

/* -----------------------------------------
 INTRO
----------------------------------------- */

/* -----------------------------------------
 FOOTER
----------------------------------------- */

.site-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 100px;
  background-color: #282828;
  color: #fff;
  line-height: 1.56;
  text-align: center;
}

.site-footer__col:nth-child(3) .foot__subtitle {
  margin-bottom: 41px;
}

.foot__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 48px;
  letter-spacing: 1.9px;
}

.foot__subtitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 56px;
  letter-spacing: 0.6px;
}

.subscribe-form__item {
  position: relative;
}

.subscribe-form__field {
  width: 100%;
  padding: 11px 16px;
}

.subscribe-form__btn {
  display: none;
}

.foot-info__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.foot-info__address,
.foot-info__mail,
.foot-info__tel {
  position: relative;
  top: 8px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.foot-info__address:before,
.foot-info__mail:before,
.foot-info__tel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.foot-info__address:before {
  background-image: url(../img/map-icon.png);
}

.foot-info__mail:before {
  background-image: url(../img/email-icon-small.png);
}

.foot-info__tel:before {
  background-image: url(../img/phone-icon.png);
}

.social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social ul li {
  width: 64px;
  height: 64px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-bottom: 18px;
}

.social ul li:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

div.wpcf7 .ajax-loader {
  display: none;
}

div.wpcf7-response-output {
  display: none !important;
}

/* -----------------------------------------
 MAIN FORM
----------------------------------------- */

.main-form {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.main-form h2 {
  margin-bottom: 107px;
  text-align: center;
}

.main-form__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 156px;
}

.main-form__item:not(:last-of-type) {
  margin-bottom: 45px;
}

.main-form__item label {
  font-size: 16px;
  width: 156px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
  color: #4d4f50;
  font-weight: bold;
  line-height: 1.05;
  text-align: center;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.main-form__item span {
  display: block;
  width: 68%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-form__item textarea {
  display: inline-block;
  min-height: 228px;
}

.main-form__item .your-message {
  padding-bottom: 135px;
  border-bottom: 1px solid #d4d8d8;
}

.main-form__field {
  display: inline-block;
  width: 100%;
  background-color: #F4F5F4;
  padding: 8px 15px;
}

.main-form__action {
  position: absolute;
  right: 0;
  bottom: 194px;
}

.main-form__btn {
  display: block;
  width: 121px;
  height: 121px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #282828;
  text-transform: uppercase;
  color: #FFF;
  -webkit-box-shadow: inset 0 0 0 3px #fff, 0 0 0 2px #282828;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 2px #282828;
  text-shadow: 0 0 1px #282828;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: color, -webkit-transform, -webkit-box-shadow;
  transition-property: color, -webkit-transform, -webkit-box-shadow;
  transition-property: color, transform, box-shadow;
  transition-property: color, transform, box-shadow, -webkit-transform, -webkit-box-shadow;
}

.main-form__btn:hover,
.main-form__btn:focus {
  color: #282828;
  -webkit-box-shadow: inset 0 0 0 75px #fff, 0 0 0 2px #282828;
  box-shadow: inset 0 0 0 75px #fff, 0 0 0 2px #282828;
}

.main-form__btn:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: -webkit-calc( 1.71429rem + 21 * (100vw - 320px ) / 673);
    font-size: calc( 1.71429rem + 21 * (100vw - 320px ) / 673);
  }

  .main-info {
    font-size: -webkit-calc( 1rem + 6 * (100vw - 320px ) / 673);
    font-size: calc( 1rem + 6 * (100vw - 320px ) / 673);
  }

  .main-info h2 {
    font-size: -webkit-calc( 1.71429rem + 15 * (100vw - 320px ) / 673);
    font-size: calc( 1.71429rem + 15 * (100vw - 320px ) / 673);
  }

  .author-info {
    font-size: -webkit-calc( 1.14286rem + 8 * (100vw - 320px ) / 673);
    font-size: calc( 1.14286rem + 8 * (100vw - 320px ) / 673);
  }

  .foot__title {
    font-size: -webkit-calc( 1.28571rem + 4 * (100vw - 320px ) / 673);
    font-size: calc( 1.28571rem + 4 * (100vw - 320px ) / 673);
  }

  .foot__subtitle {
    font-size: -webkit-calc( 1rem + 0 * (100vw - 320px ) / 673);
    font-size: calc( 1rem + 0 * (100vw - 320px ) / 673);
  }

  .main-form__item label {
    font-size: -webkit-calc( 1.14286rem + 6 * (100vw - 320px ) / 673);
    font-size: calc( 1.14286rem + 6 * (100vw - 320px ) / 673);
  }
}

@media screen and (min-width: 769px) {
  .main-info p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .author-info__location {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 993px) {
  h2 {
    font-size: -webkit-calc(1.71429rem + 21px);
    font-size: calc(1.71429rem + 21px);
  }

  .main-info {
    font-size: -webkit-calc(1rem + 6px);
    font-size: calc(1rem + 6px);
  }

  .main-info h2 {
    font-size: -webkit-calc(1.71429rem + 15px);
    font-size: calc(1.71429rem + 15px);
  }

  .author-info {
    font-size: -webkit-calc(1.14286rem + 8px);
    font-size: calc(1.14286rem + 8px);
  }

  .site-footer__col {
    margin-bottom: 0;
    padding: 30px 45px 0;
  }

  .site-footer__col:not(:last-child) {
    border-right: 1px solid #fff;
  }

  .site-footer__col:nth-child(3n + 2) {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .foot__title {
    font-size: -webkit-calc(1.28571rem + 4px);
    font-size: calc(1.28571rem + 4px);
  }

  .foot__subtitle {
    font-size: -webkit-calc(1rem + 0px);
    font-size: calc(1rem + 0px);
  }

  .main-form__item label {
    font-size: -webkit-calc(1.14286rem + 6px);
    font-size: calc(1.14286rem + 6px);
  }
}

@media screen and (min-width: 1441px) {
  .foot__subtitle {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1440px) {
  .site-footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1370px) {
  .social ul li {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .site-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .main-navigation {
    margin-left: 160px;
  }

  .main-navigation ul li {
    margin-left: 15px;
    margin-right: 15px;
  }

  .site-footer {
    display: block;
  }

  .site-footer__col:not(:last-child) {
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
  }

  .foot__title {
    margin-bottom: 15px;
  }

  .foot__subtitle {
    margin-bottom: 30px;
  }

  .main-form__action {
    right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .site-main {
    padding-top: 40px;
  }

  .book-appointment {
    max-width: 80px;
  }

  .hamburger {
    display: block;
  }

  .main-navigation {
    margin-left: 0;
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
  }

  .js-nav-menu-active .main-navigation {
    right: -5%;
    -webkit-box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.5);
  }

  .main-navigation ul {
    display: block;
    padding-top: 40px;
  }

  .main-navigation ul li {
    margin-left: 0;
    margin-right: 0;
  }

  .main-navigation ul li:not(:last-child) {
    border-bottom: 1px solid #878484;
  }

  .main-navigation ul li:not(:first-child) {
    border-top: 1px solid #C3C0C0;
  }

  .main-navigation ul li a {
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .main-navigation ul li a:after {
    content: none;
  }

  .main-navigation ul li a:hover,
  .main-navigation ul li a.active {
    color: #000;
  }

  .main-info {
    padding-bottom: 30px;
  }

  .main-info h2 {
    margin-bottom: 30px;
    padding-top: 0;
  }

  .main-info__img {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
  }

  .main-info__img--author {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
  }

  .site-footer {
    padding-bottom: 0;
  }

  .social {
    top: 0;
  }

  .main-form {
    margin-bottom: 30px;
  }

  .main-form h2 {
    margin-bottom: 30px;
  }

  .main-form__item:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .main-form__item {
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }

  .main-form__item label {
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-right: 0;
  }

  .main-form__item span {
    width: 100%;
  }

  .main-form__item .your-message {
    padding-bottom: 30px;
  }

  .main-form__action {
    position: static;
    margin-top: 30px;
  }

  .main-form__btn {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .social ul li {
    width: 30px;
    height: 30px;
  }
}